
@{
    ViewData["Title"] = "GetSessionValues";
}

<h1>GetSessionValues</h1>
@ViewBag.message
<br />
@ViewBag.count
<br />
@ViewBag.Date
<br />

@ViewBag.EmpId
@ViewBag.EmpName
@ViewBag.Salary
<hr/>
